<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Tu cadena original de ADO.NET (la que tenías) -->
    <add name="proyectoConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=proyecto;Data Source=ALANTONIC\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <!-- La que puso Entity Framework -->
    <add name="BD" connectionString="metadata=res://*/Base_Datos.BD.csdl|res://*/Base_Datos.BD.ssdl|res://*/Base_Datos.BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALANTONIC\SQLEXPRESS;initial catalog=proyecto;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>